*{
    box-sizing: border-box;
    font-family: "Calibri Light", sans-serif;

}

body{
    margin: 0;
    background-color: #8fc9d9;
}

.grid-container{
    display: grid;
    grid-template-areas:
            "a b img img"
            "c d img img";
    grid-template-columns: 25% 25% 50%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 3% 15% 3% 15%;
}

.text-block{
    border: 1px white solid;
    padding: 20% 5%;
}

#block-1{
    grid-area: a;
}
#block-2{
    grid-area: b;
}
#block-3{
    grid-area: c;
}
#block-4{
    grid-area: d;
}
#img-container{
    grid-area: img;
}

#block-2, #block-3{
    background-color: white;
    color: #8fc9d9;
}

#block-1, #block-4{
    color: white;
}

#image-top, #image-bottom{

}

#image-top{
    position: relative;
    z-index: 1;
    height: 450px;
    top: 110px;
    left: 300px;
}

#image-bottom{
    position: absolute;
    z-index: 0;
    height: 400px;
    width: 400px;
}
img{
    border: 4px white solid;
}

@media screen and (max-device-width:600px){
    .grid-container{
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "img";
        margin: 5% 5% 0 5%;
        grid-template-columns: 90%;
        grid-column-gap: 0;
    }
    .text-block{
        padding: 0 2%;

    }

    #image-bottom{
        width: 70%;
    }

    #image-top{
        /*left: 30%;*/
        width: 70%;
        top: 50%;
        left: 30%;
    }

}
