body {
    font-family: sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;

}

header {
    display: flex;
    height: 100px;
    background-color: cornflowerblue;
    justify-content: space-between;
}

header > div {
    align-self: center;
}

ul li {
    display: inline-flex;
    font-size: 1.5em;
    padding-right: 2em;
}

ul li a {
    text-decoration: none;
    color: white;
}

#textbox-1 {
    text-align: center;
}

#textbox-X {
    border: black solid 1px;
    background-color: white;
    margin-right: 1%;
    text-align: right;
    width: 15%;
}
table{

}
td {
    text-align: right;
    vertical-align: top;
}

#block-6 {
    text-align: center;
    height: 0;
    border: 1px solid black;
}

#block-2, #block-4 {
    background-color: lightgreen;
}

#block-5, #block-6 {
    background-color: sandybrown;
}

.block {
    border: 1px solid black;
    width: 22%;
}

.gap {
    width: 4%;
}

footer{
    height: 100px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
}

footer > div {
    display: inline;
    align-self: center;
}

#block-Y{
    border: black solid 1px;
    background-color: white;
    margin-left: 1%;
    text-align: right;
    width: 15%;
}

#block-7{
    margin-right: 1%;
    font-size: 2em;
}

